<template lang="html">
	<section class="py-3 bg">
		<div class="text-center">
			<b-container fluid>
				<h2 class="h1">We're sorry.</h2>
				<p>
					We've looked everywhere and can't seem to find the page
					you're looking for.
				</p>
				<p>
					<router-link to="/home" class="font-weight-bold"
						><font-awesome-icon icon="angle-left" /> Head back to
						the home page</router-link
					>
				</p>
				<b-img
					:src="CarrolTheLibrarian"
					alt="Carrol The Librarian"
					fluid
				/>
			</b-container>
		</div>
	</section>
</template>

<script lang="js">

import CarrolTheLibrarian from "../assets/carroll-the-librarian.svg";

export default {
	name: "Error404",
	data() {
		return {
			CarrolTheLibrarian
		};
	}
};
</script>

<style lang="scss" scoped>
.bg {
	background: #bddef0;
}
</style>
