<template lang="html">
	<div>
		<SubHeader headerText="Job list" />
		<b-container>
			<div class="content-wrapper">
				<JobList
					:items="items"
					@remove-job="removeJob"
					@schedule-job="openScheduleModal"
				/>
			</div>
		</b-container>
		<ScheduleJobModal :item="item" @submitModal="scheduleJob" />
	</div>
</template>

<script lang="js">

import JobList from "./JobList";
import ScheduleJobModal from "./ScheduleJobModal";
import SubHeader from "./SubHeader";
import { mapState } from "vuex";

export default {
	name: "Home",
	data() {
		return {
			item: {},
			polling: null
		};
	},
	computed: mapState({
		items: state => state.items
	}),
	components: {
		JobList,
		ScheduleJobModal,
		SubHeader
	},
	created() {
		this.$store.dispatch("getItems");
		this.pollData();
	},
	beforeDestroy() {
		clearInterval(this.polling);
	},
	methods: {
		openScheduleModal(jobId) {
			const self = this;
			self.item = this.$store.getters.getJobDetails(jobId);
			self.$bvModal.show("schedule-job-modal");
		},
		removeJob(jobName) {
			this.$store.dispatch("removeItem", jobName);
		},
		scheduleJob(item) {
			this.$store.dispatch("scheduleItem", { item, vm: this });
		},
		pollData() {
			this.polling = setInterval(() => {
				this.$store.dispatch("getItems");
			}, 5000);
		}
	}
};
</script>
