<template lang="html">
	<section>
		<SubHeader headerText="Job details" />
		<b-container>
			<div class="content-wrapper">
				<Spinner
					v-if="
						!$store.getters.isLoaded && !$store.state.jobListError
					"
					class="mt-3"
				/>
				<div v-else-if="$store.state.jobListError" v-cloak>
					<b-alert show variant="danger" class="mb-0">
						<font-awesome-icon
							class="mr-2"
							icon="exclamation-triangle"
						/><strong>Oops!</strong>
						Something went wrong. Please try again later.
					</b-alert>
					<router-link to="/home" class="text-center d-block mt-3"
						><font-awesome-icon
							class="mr-2"
							icon="long-arrow-alt-left"
						/>
						Back to Home Page</router-link
					>
				</div>
				<div
					v-else-if="!job.jobId && !$store.state.jobListError"
					v-cloak
				>
					<b-alert show variant="danger" class="mb-0">
						<font-awesome-icon
							class="mr-2"
							icon="exclamation-triangle"
						/><strong>Oh snap!</strong> The job you are looking for
						is not found. Please re-check the job ID.
					</b-alert>
					<router-link to="/home" class="text-center d-block mt-3"
						><font-awesome-icon
							class="mr-2"
							icon="long-arrow-alt-left"
						/>
						Back to Home Page</router-link
					>
				</div>
				<div v-else>
					<b-row>
						<b-col lg="6" class="mt-3">
							<b-card no-body>
								<b-list-group flush>
									<b-list-group-item>
										<b-row>
											<b-col>
												<strong>Job ID</strong>
											</b-col>
											<b-col>
												{{ job.jobId }}
											</b-col>
										</b-row>
									</b-list-group-item>
									<b-list-group-item>
										<b-row>
											<b-col>
												<strong>Job Name</strong>
											</b-col>
											<b-col>
												{{ job.jobName }}
											</b-col>
										</b-row>
									</b-list-group-item>
									<b-list-group-item>
										<b-row>
											<b-col>
												<strong>Job Status</strong>
											</b-col>
											<b-col>
												<strong
													v-if="
														job.jobStatus ==
															'Success'
													"
													class="status-badge text-success"
													><font-awesome-icon
														icon="check"
													/><span class="ml-2"
														>Completed</span
													></strong
												>
												<strong
													v-else-if="
														job.jobStatus ==
															'Running'
													"
													class="status-badge text-info"
													><font-awesome-icon
														icon="cog"
													/><span class="ml-2"
														>Running</span
													></strong
												>
												<strong
													v-else-if="
														job.jobStatus ==
															'Failed'
													"
													class="status-badge text-danger"
													><font-awesome-icon
														icon="exclamation"
													/><span class="ml-2"
														>Failed</span
													></strong
												>
											</b-col>
										</b-row>
									</b-list-group-item>
								</b-list-group>
							</b-card>
						</b-col>
						<b-col lg="6" class="mt-3">
							<b-card no-body>
								<b-list-group flush>
									<b-list-group-item>
										<b-row>
											<b-col>
												<strong
													>Current Execution
													Time</strong
												>
											</b-col>
											<b-col>
												{{ job.lastExecutionTime }}
											</b-col>
										</b-row>
									</b-list-group-item>
									<b-list-group-item>
										<b-row>
											<b-col>
												<strong
													>Next Execution Time</strong
												>
											</b-col>
											<b-col>
												{{ job.nextExecutionTime }}
											</b-col>
										</b-row>
									</b-list-group-item>
									<b-list-group-item>
										<b-row>
											<b-col>
												<strong>Job State</strong>
											</b-col>
											<b-col>
												{{ job.jobState }}
											</b-col>
										</b-row>
									</b-list-group-item>
								</b-list-group>
							</b-card>
						</b-col>
					</b-row>
					<b-row>
						<b-col lg="10" class="mt-3 back-link">
							<router-link
								to="/home"
								class="align-middle d-block d-lg-inline"
								><font-awesome-icon
									class="mr-2"
									icon="long-arrow-alt-left"
								/>
								Back to Home Page</router-link
							>
						</b-col>
						<b-col
							lg="2"
							class="mt-3"
							v-if="job.jobState == 'Scheduled'"
						>
							<b-button block variant="outline-danger"
								><font-awesome-icon class="mr-2" icon="ban" />
								Unschedule
							</b-button>
						</b-col>
						<b-col lg="2" class="mt-3" v-else>
							<b-button
								block
								variant="outline-primary"
								@click.prevent="openScheduleModal"
								><font-awesome-icon class="mr-2" icon="clock" />
								Schedule</b-button
							>
						</b-col>
					</b-row>
				</div>
			</div>
		</b-container>
		<ScheduleJobModal :item="job" @submitModal="scheduleJob" />
	</section>
</template>

<script lang="js">

import Spinner from "./Spinner";
import SubHeader from "./SubHeader";
import ScheduleJobModal from "./ScheduleJobModal";

export default {
	name: "JobDetails",
	components: {
		Spinner,
		SubHeader,
		ScheduleJobModal
	},
	created() {
		this.$store.dispatch("getItems");
		this.pollData();
	},
	beforeDestroy() {
		clearInterval(this.polling);
	},
	computed: {
		job() {
			return this.$store.getters.getJobDetails(this.$route.params.id) || {};
		},
	},
	methods: {
		scheduleJob(item) {
			this.$store.dispatch("scheduleItem", { item, vm: this });
		},
		openScheduleModal() {
			this.$bvModal.show("schedule-job-modal");
		},
		pollData() {
			this.polling = setInterval(() => {
				this.$store.dispatch("getItems");
			}, 5000);
		}
	}
};
</script>
<style lang="scss" scoped>
@keyframes Rotate {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.status-badge {
	.fa-cog {
		animation-name: Rotate;
		animation-duration: 3s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: normal;
	}
}
@media only screen and (max-width: 991px) {
	.back-link {
		text-align: center;
	}
}
</style>
