<template>
	<section>
		<b-table
			striped
			responsive
			:items="items"
			:fields="fields"
			:busy="
				!$store.getters.isLoaded &&
					!items.length &&
					!$store.state.jobListError &&
					!$store.state.noJobList
			"
			class="mb-0"
		>
			<template v-slot:table-busy>
				<Spinner />
			</template>
			<template v-slot:cell(jobId)="data">
				<router-link :to="'/viewJob/' + data.value">{{
					data.value
				}}</router-link>
			</template>
			<template v-slot:cell(jobStatus)="data">
				<strong
					v-if="data.value == 'Success'"
					class="status-badge text-success"
					><font-awesome-icon icon="check" /><span
						class="ml-2 d-none d-sm-inline"
						>Completed</span
					></strong
				>
				<strong
					v-else-if="data.value == 'Running'"
					class="status-badge text-info"
					><font-awesome-icon icon="cog" /><span
						class="ml-2 d-none d-sm-inline"
						>Running</span
					></strong
				>
				<strong
					v-else-if="data.value == 'Failed'"
					class="status-badge text-danger"
					><font-awesome-icon icon="exclamation" /><span
						class="ml-2 d-none d-sm-inline"
						>Failed</span
					></strong
				>
			</template>
			<template v-slot:cell(action)="data">
				<b-button
					variant="link"
					size="sm"
					v-if="data.item.jobState != 'Scheduled'"
					@click.prevent="openScheduleModal(data.item.jobId)"
					><font-awesome-icon class="mr-2" icon="clock" /><span
						class="d-none d-sm-inline"
						>Schedule</span
					></b-button
				>
				<b-button
					v-else
					variant="link"
					size="sm"
					class="text-danger"
					@click.prevent="removeJob(data.item.jobName)"
					><font-awesome-icon class="mr-2" icon="ban" /><span
						class="d-none d-sm-inline"
						>Unschedule</span
					></b-button
				>
			</template>
		</b-table>
		<b-alert
			show
			variant="primary"
			class="mb-0 rounded-0"
			v-if="$store.state.noJobList"
			v-cloak
		>
			<font-awesome-icon class="mr-2" icon="exclamation-circle" /><strong
				>Bummer!</strong
			>
			No Data Available.
		</b-alert>
		<b-alert
			show
			variant="danger"
			class="mb-0 rounded-0"
			v-if="$store.state.jobListError"
			v-cloak
		>
			<font-awesome-icon
				class="mr-2"
				icon="exclamation-triangle"
			/><strong>Oops!</strong> Something went wrong. Please try again
			later.
		</b-alert>
	</section>
</template>

<script>
import Spinner from "./Spinner";

export default {
	name: "JobList",
	components: {
		Spinner
	},
	data() {
		return {
			fields: [
				{
					key: "jobId",
					label: "Job ID"
				},
				{
					key: "jobName",
					label: "Job Name"
				},
				{
					key: "lastExecutionTime",
					label: "Last Execution Time"
				},
				{
					key: "nextExecutionTime",
					label: "Next Execution Time"
				},
				{
					key: "jobState",
					label: "Job State"
				},
				{
					key: "jobStatus",
					label: "Job Status"
				},
				{
					key: "action",
					label: "Action"
				}
			]
		};
	},
	methods: {
		removeJob(jabName) {
			this.$emit("remove-job", jabName);
		},
		openScheduleModal(jobId) {
			this.$emit("schedule-job", jobId);
		}
	},
	props: {
		items: Array
	}
};
</script>

<style lang="scss" scoped>
@keyframes Rotate {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.status-badge {
	font-size: 0.875rem;
	.fa-cog {
		animation-name: Rotate;
		animation-duration: 3s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: normal;
	}
}
</style>
