<template lang="html">
	<b-modal
		id="schedule-job-modal"
		ref="modal"
		:title="'Schedule Job ' + name"
		@show="resetModal"
		@hidden="resetModal"
		@ok="handleOk"
		no-close-on-backdrop
	>
		<form ref="form" @submit.stop.prevent="handleSubmit">
			<div class="mb-2 font-weight-bold">Job ID: {{ id }}</div>
			<div class="mb-2 font-weight-bold">Job Name: {{ name }}</div>
			<b-form-checkbox
				id="one-time-checkbox"
				v-model="isOnce"
				name="once-checkbox"
				:class="isOnce ? 'my-3' : 'mt-3'"
			>
				Run this job only once.
			</b-form-checkbox>
			<b-form-group
				label="Frequency Category"
				label-for="freq-category-select"
				class="mt-3"
			>
				<b-form-select
					id="freq-category-select"
					v-model="selected"
					:options="options"
					:disabled="isOnce"
				></b-form-select>
			</b-form-group>
			<b-form-group
				label="Frequency"
				label-for="freq-input"
				:state="isOnce ? null : freqStateState"
				invalid-feedback="Please enter valid frequency."
			>
				<b-form-input
					id="freq-input"
					type="number"
					v-model="frequency"
					:state="isOnce ? null : freqStateState"
					:disabled="isOnce"
					required
				/>
			</b-form-group>
			<b-form-group
				label="When do you want to schedule the job?"
				:state="calendarState"
				invalid-feedback="Please select valid date &amp; time."
			>
				<VueCtkDateTimePicker
					v-model="dateTimeValue"
					label="Select Start Date &amp; Time"
					format="DD.MM.YYYY HH:mm:ss"
					output-format="DD.MM.YYYY HH:mm:ss"
					:min-date="disabledDates"
				/>
			</b-form-group>
		</form>
	</b-modal>
</template>

<script lang="js">
import moment from "moment";
import VueCtkDateTimePicker from "vue-ctk-date-time-picker";
import "vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css";

export default {
	name: "ScheduleJobModal",
	components: {
		VueCtkDateTimePicker
	},
	data() {
		return {
			freqStateState: null,
			calendarState: null,
			selected: "days",
			frequency: 0,
			disabledDates: moment().format(),
			dateTimeValue: null,
			options: [
				{ value: "days", text: "Days" },
				{ value: "min", text: "Minutes" },
			],
			isOnce: false
		};
	},
	computed: {
		id() {
			return this.item.jobId;
		},
		name() {
			return this.item.jobName;
		}
	},
	props: {
		item: Object
	},
	methods: {
		checkFormValidity() {
			this.freqStateState = this.isOnce ? null : !!this.frequency;
			this.calendarState = !!this.dateTimeValue;
			return this.isOnce ? this.calendarState : this.freqStateState && this.calendarState;
		},
		resetModal() {
			this.freqStateState = null;
			this.calendarState = null;
			this.isOnce = false;
			this.dateTimeValue = null;
		},
		handleOk(bvModalEvt) {
			// Prevent modal from closing
			bvModalEvt.preventDefault();
			// Trigger submit handler
			this.handleSubmit();
		},
		handleSubmit() {
			// Exit when the form isn't valid
			if (!this.checkFormValidity()) {
				return;
			}
			// Hide the modal manually
			this.$nextTick(() => {
				this.$emit("submitModal", {
					jobName: this.name,
					date: this.dateTimeValue,
					days: this.selected === "days" ? Number(this.frequency, 10) : 0,
					isDayBased: this.selected === "days",
					frequencyInMinute: this.selected === "min" ? Number(this.frequency, 10) : 0
				});
				this.$refs.modal.hide();
			});
		}
	}
};
</script>

<style lang="scss">
.is-invalid {
	label,
	.col-form-label {
		color: #dc3545;
	}

	.date-time-picker {
		.field-input {
			border-color: #dc3545;
		}
	}
}
@media only screen and (max-width: 415px) {
	.datepicker-buttons-container {
		position: fixed;
		width: 100%;
		bottom: 0;
	}
}
</style>
