<template lang="html">
	<div class="text-center my-2">
		<b-img
			:src="JobLoaderGif"
			aria-hidden="true"
			class="align-middle"
			fluid
		/>
		<p class="mt-2 font-weight-bold">Loading...</p>
	</div>
</template>

<script lang="js">
import JobLoaderGif from "../assets/Maintenance.gif";

export default {
	name: "Spinner",
	data() {
		return {
			JobLoaderGif
		};
	}
};
</script>
