<template lang="html">
	<div class="gradient_wrapper">
		<b-container>
			<h1 class="text-white m-0">{{ headerText }}</h1>
		</b-container>
	</div>
</template>

<script lang="js">
export default  {
	name: "SubHeader",
	props: {
		headerText: String
	}
};
</script>

<style scoped lang="scss">
.gradient_wrapper {
	background: linear-gradient(to right, #3b9bd5, #183743);
	padding: 30px 0;
}
@media only screen and (min-width: 768px) {
	.gradient_wrapper {
		padding: 50px 0 100px 0;
	}
}
</style>
