<template lang="html">
	<footer class="bg-dark">
		<b-container class="pb-3">
			<b-row>
				<b-col sm="6">
					<b-row>
						<b-col sm="6" class="mt-3">
							<a
								rel="noreferrer"
								href="https://www.springernature.com/in/contact"
								target="_blank"
								class="text-white"
								>Contact us</a
							>
						</b-col>
						<b-col sm="6" class="mt-3">
							<a
								rel="noreferrer"
								href="https://www.springernature.com/in/legal/privacy-statement/11033522"
								target="_blank"
								class="text-white"
							>
								Privacy Policy
							</a>
						</b-col>
					</b-row>
					<b-row>
						<b-col sm="6" class="mt-3">
							<a
								rel="noreferrer"
								href="https://www.springernature.com/in/legal/general-terms-of-use/11033520"
								target="_blank"
								class="text-white"
								>Terms and Conditions</a
							>
						</b-col>
						<b-col sm="6" class="mt-3">
							<a
								rel="noreferrer"
								href="https://www.springernature.com"
								target="_blank"
								class="text-white"
							>
								Springer Nature
							</a>
						</b-col>
					</b-row>
				</b-col>
			</b-row>
		</b-container>
		<div class="footer-row text-white">
			<b-container>
				<b-img
					:src="SpringerNatureFooterImg"
					alt="Springer Nature Footer Image"
				></b-img>
				<p>
					<small>&copy; {{ year }} Springer Nature</small>
				</p>
			</b-container>
		</div>
	</footer>
</template>

<script lang="js">
import SpringerNatureFooterImg from "../assets/springernature-footer.svg";
export default  {
	name: "TheFooter",
	data () {
		return {
			SpringerNatureFooterImg
		};
	},
	props: {
		year: Number
	}
};
</script>
<style lang="scss" scoped>
.footer-row {
	border-top: 0.0625rem solid #486a7e;
	padding-bottom: 1.25rem;
	padding-top: 1.25rem;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}
</style>
