<template>
	<header>
		<b-navbar toggleable="lg" variant="light">
			<b-container>
				<div>
					<a href="https://www.springernature.com"
						><b-img
							class="header-logo-img"
							:src="SpringerNatureIcon"
							alt="Springer Nature Header Logo"
							fluid
					/></a>
					<p class="header-logo-subtext">Job Framework</p>
				</div>
			</b-container>
		</b-navbar>
	</header>
</template>

<script>
import SpringerNatureIcon from "../assets/logo-springernature.svg";
export default {
	name: "TheHeader",
	data() {
		return {
			SpringerNatureIcon
		};
	}
};
</script>
<style scoped lang="scss">
.header-logo-img {
	width: 75%;
}
.header-logo-subtext {
	font-size: 1.5em;
	color: #1a2d59;
	margin-bottom: 0;
	font-weight: bold;
}
</style>
