<template lang="html">
	<div class="page-container">
		<div class="content-wrap">
			<TheHeader />
			<router-view></router-view>
		</div>
		<TheFooter :year="year" />
		<b-alert
			v-model="showContentUpdate"
			class="position-fixed fixed-bottom m-0 rounded-0"
			style="z-index: 2000;"
			variant="primary"
			dismissible
		>
			<strong
				>New content is available. Please
				<a
					href="#"
					class="text-decoration-none"
					@click.prevent="refreshPage"
					>refresh</a
				>
				to see latest changes.</strong
			>
		</b-alert>
		<b-alert
			v-model="showOffline"
			class="position-fixed fixed-bottom m-0 rounded-0"
			style="z-index: 2000;"
			variant="danger"
			dismissible
		>
			<strong
				>You seem to be offline. Please check your network
				connection.</strong
			>
		</b-alert>
	</div>
</template>

<script lang="js">

import TheHeader from "./components/TheHeader";
import TheFooter from "./components/TheFooter";
import moment from "moment";

export default {
	name: "App",
	components: {
		TheHeader,
		TheFooter
	},
	data() {
		return {
			showContentUpdate: false,
			showOffline: false
		};
	},
	created() {
		window.addEventListener("offline", () => {
			this.showOffline = true;
		});
		window.addEventListener("online", () => {
			this.showOffline = false;
		});
	},
	mounted() {
		document.addEventListener("swUpdated", this.showRefreshUI);
	},
	computed: {
		year() {
			return moment().get("year");
		}
	},
	beforeDestroy() {
		document.removeEventListener("swUpdated", this.showRefreshUI);
	},
	methods: {
		showRefreshUI() {
			this.showContentUpdate = true;
		},
		refreshPage() {
			window.location.reload(true);
		}
	},
};
</script>

<style lang="scss" scoped>
.page-container {
	position: relative;
	min-height: 100vh;
	.content-wrap {
		padding-bottom: 20rem;
	}
}
</style>
