@import "~bootstrap";
@import "~bootstrap-vue";

@media only screen and (min-width: 768px) {
    .content-wrapper {
        background-color: #fff;
        box-shadow: 0px 2px 2px #ccc;
        margin-top: -70px;
        padding: 15px;
    }
}